# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys1 import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
city_df = pd.read_csv('../WeatherPy/weatherAPI')
city_df

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Windspeed
0,0,arraial do cabo,BR,-22.9661,-42.0278,84.20,70,0,5.66
1,1,lorengau,PG,-2.0226,147.2712,80.89,81,100,5.50
2,2,jamestown,US,42.0970,-79.2353,16.38,79,1,3.60
3,3,ternate,ID,0.8000,127.4000,82.17,80,68,1.97
4,4,bengkulu,ID,-3.8004,102.2655,78.98,83,99,1.02
...,...,...,...,...,...,...,...,...,...
569,569,olean,US,42.0776,-78.4297,15.89,92,90,1.54
570,570,port blair,IN,11.6667,92.7500,77.88,66,0,3.98
571,571,madang,PG,-5.2246,145.7966,77.04,88,100,1.94
572,572,buraydah,SA,26.3260,43.9750,75.20,38,0,1.03
573,573,ambilobe,MG,-13.2000,49.0500,81.48,84,99,1.20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [29]:
gmaps.configure(api_key=gkey)
loc_map = gmaps.Map()
#data = city_df[['Latitude', 'Longitude', 'Humidity']]
#data_triples = [tuple(x) for x in subset.to_numpy()]
heatmap_layer = gmaps.WeightedHeatmap(locations=city_df[['Latitude','Longitude']],weights= city_df['Humidity'].astype(float))
loc_map.add_layer(heatmap_layer)
loc_map

Map(configuration={'api_key': 'AIzaSyBIOpfC7Bs0K6WKU7WeT-ByrMc5Svvz3xI'}, data_bounds=[(-45.733952329312686, -…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [41]:
#dropping null rows and fitting data that's ideal weather conditions
ideal_df = city_df.dropna()
ideal_df = ideal_df.loc[(ideal_df["Temperature"]<80) & (ideal_df["Temperature"]>70)].dropna()
ideal_df = ideal_df.loc[(ideal_df["Windspeed"]<10) & (ideal_df["Cloudiness"]==0)].dropna()
ideal_df

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Windspeed
139,139,champerico,GT,14.3000,-91.9167,73.40,83,0,1.75
145,145,riyadh,SA,24.6877,46.7219,77.00,9,0,3.60
174,174,norsup,VU,-16.0667,167.3833,79.65,78,0,1.46
200,200,neuquen,AR,-38.9516,-68.0591,75.20,57,0,5.14
204,204,malanje,AO,-9.5402,16.3410,79.92,59,0,3.94
233,233,najran,SA,17.4924,44.1277,78.80,25,0,5.14
234,234,sao filipe,CV,14.8961,-24.4956,74.30,63,0,3.41
251,251,ibra,OM,22.6906,58.5334,79.90,17,0,4.79
261,261,vao,NC,-22.6667,167.4833,76.14,83,0,4.20
344,344,baghdad,IQ,33.3406,44.4009,71.60,49,0,4.63
353,353,sindgi,IN,16.9167,76.2333,79.61,20,0,4.39
372,372,pyinmana,MM,19.7333,96.2167,71.92,36,0,1.55
373,373,general pico,AR,-35.6566,-63.7568,78.08,44,0,4.24
399,399,poum,NC,-20.2333,164.0167,78.80,74,0,5.76
416,416,noumea,NC,-22.2763,166.4572,76.26,94,0,1.03
447,447,sur,OM,22.5667,59.5289,71.17,57,0,2.06
456,456,nam som,TH,17.7704,102.1895,73.92,68,0,1.03
474,474,quepos,CR,9.4236,-84.1652,70.12,64,0,4.63
570,570,port blair,IN,11.6667,92.7500,77.88,66,0,3.98
572,572,buraydah,SA,26.3260,43.9750,75.20,38,0,1.03

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [44]:
hotel_df = ideal_df
hotel_df["Hotel Name"] = ""
hotel_df = hotel_df.drop(columns='Unnamed: 0')
hotel_df

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Windspeed,Hotel Name
139,champerico,GT,14.3000,-91.9167,73.40,83,0,1.75,
145,riyadh,SA,24.6877,46.7219,77.00,9,0,3.60,
174,norsup,VU,-16.0667,167.3833,79.65,78,0,1.46,
200,neuquen,AR,-38.9516,-68.0591,75.20,57,0,5.14,
204,malanje,AO,-9.5402,16.3410,79.92,59,0,3.94,
233,najran,SA,17.4924,44.1277,78.80,25,0,5.14,
234,sao filipe,CV,14.8961,-24.4956,74.30,63,0,3.41,
251,ibra,OM,22.6906,58.5334,79.90,17,0,4.79,
261,vao,NC,-22.6667,167.4833,76.14,83,0,4.20,
344,baghdad,IQ,33.3406,44.4009,71.60,49,0,4.63,
353,sindgi,IN,16.9167,76.2333,79.61,20,0,4.39,
372,pyinmana,MM,19.7333,96.2167,71.92,36,0,1.55,
373,general pico,AR,-35.6566,-63.7568,78.08,44,0,4.24,
399,poum,NC,-20.2333,164.0167,78.80,74,0,5.76,
416,noumea,NC,-22.2763,166.4572,76.26,94,0,1.03,
447,sur,OM,22.5667,59.5289,71.17,57,0,2.06,
456,nam som,TH,17.7704,102.1895,73.92,68,0,1.03,
474,quepos,CR,9.4236,-84.1652,70.12,64,0,4.63,
570,port blair,IN,11.6667,92.7500,77.88,66,0,3.98,
572,buraydah,SA,26.3260,43.9750,75.20,38,0,1.03,

In [ ]:
#search for hotels
base =

In [3]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure