# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [34]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint
# Import API key
from api_keys1 import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [35]:
city_df = pd.read_csv('../WeatherPy/weatherAPI')
city_df

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Windspeed
0,0,arraial do cabo,BR,-22.9661,-42.0278,84.20,70,0,5.66
1,1,lorengau,PG,-2.0226,147.2712,80.89,81,100,5.50
2,2,jamestown,US,42.0970,-79.2353,16.38,79,1,3.60
3,3,ternate,ID,0.8000,127.4000,82.17,80,68,1.97
4,4,bengkulu,ID,-3.8004,102.2655,78.98,83,99,1.02
...,...,...,...,...,...,...,...,...,...
569,569,olean,US,42.0776,-78.4297,15.89,92,90,1.54
570,570,port blair,IN,11.6667,92.7500,77.88,66,0,3.98
571,571,madang,PG,-5.2246,145.7966,77.04,88,100,1.94
572,572,buraydah,SA,26.3260,43.9750,75.20,38,0,1.03
573,573,ambilobe,MG,-13.2000,49.0500,81.48,84,99,1.20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [81]:
gmaps.configure(api_key=gkey)
loc_map = gmaps.Map()
heatmap_layer = gmaps.WeightedHeatmap(locations=city_df[['Latitude','Longitude']],weights= city_df['Humidity'].astype(float))
loc_map.add_layer(heatmap_layer)
loc_map

Map(configuration={'api_key': 'AIzaSyBIOpfC7Bs0K6WKU7WeT-ByrMc5Svvz3xI'}, data_bounds=[(-45.733952329312686, -…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [37]:
#dropping null rows and fitting data that's ideal weather conditions
ideal_df = city_df.dropna()
ideal_df = ideal_df.loc[(ideal_df["Temperature"]<80) & (ideal_df["Temperature"]>70)].dropna()
ideal_df = ideal_df.loc[(ideal_df["Windspeed"]<10) & (ideal_df["Cloudiness"]==0)].dropna()
ideal_df

,Unnamed: 0,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Windspeed
139,139,champerico,GT,14.3000,-91.9167,73.40,83,0,1.75
145,145,riyadh,SA,24.6877,46.7219,77.00,9,0,3.60
174,174,norsup,VU,-16.0667,167.3833,79.65,78,0,1.46
200,200,neuquen,AR,-38.9516,-68.0591,75.20,57,0,5.14
204,204,malanje,AO,-9.5402,16.3410,79.92,59,0,3.94
233,233,najran,SA,17.4924,44.1277,78.80,25,0,5.14
234,234,sao filipe,CV,14.8961,-24.4956,74.30,63,0,3.41
251,251,ibra,OM,22.6906,58.5334,79.90,17,0,4.79
261,261,vao,NC,-22.6667,167.4833,76.14,83,0,4.20
344,344,baghdad,IQ,33.3406,44.4009,71.60,49,0,4.63
353,353,sindgi,IN,16.9167,76.2333,79.61,20,0,4.39
372,372,pyinmana,MM,19.7333,96.2167,71.92,36,0,1.55
373,373,general pico,AR,-35.6566,-63.7568,78.08,44,0,4.24
399,399,poum,NC,-20.2333,164.0167,78.80,74,0,5.76
416,416,noumea,NC,-22.2763,166.4572,76.26,94,0,1.03
447,447,sur,OM,22.5667,59.5289,71.17,57,0,2.06
456,456,nam som,TH,17.7704,102.1895,73.92,68,0,1.03
474,474,quepos,CR,9.4236,-84.1652,70.12,64,0,4.63
570,570,port blair,IN,11.6667,92.7500,77.88,66,0,3.98
572,572,buraydah,SA,26.3260,43.9750,75.20,38,0,1.03

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [38]:
hotel_df = ideal_df
hotel_df["Hotel Name"] = ""
hotel_df = hotel_df.drop(columns='Unnamed: 0')
hotel_df = hotel_df.reset_index()
hotel_df = hotel_df.drop(columns="index")
hotel_df

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Windspeed,Hotel Name
0,champerico,GT,14.3000,-91.9167,73.40,83,0,1.75,
1,riyadh,SA,24.6877,46.7219,77.00,9,0,3.60,
2,norsup,VU,-16.0667,167.3833,79.65,78,0,1.46,
3,neuquen,AR,-38.9516,-68.0591,75.20,57,0,5.14,
4,malanje,AO,-9.5402,16.3410,79.92,59,0,3.94,
5,najran,SA,17.4924,44.1277,78.80,25,0,5.14,
6,sao filipe,CV,14.8961,-24.4956,74.30,63,0,3.41,
7,ibra,OM,22.6906,58.5334,79.90,17,0,4.79,
8,vao,NC,-22.6667,167.4833,76.14,83,0,4.20,
9,baghdad,IQ,33.3406,44.4009,71.60,49,0,4.63,
10,sindgi,IN,16.9167,76.2333,79.61,20,0,4.39,
11,pyinmana,MM,19.7333,96.2167,71.92,36,0,1.55,
12,general pico,AR,-35.6566,-63.7568,78.08,44,0,4.24,
13,poum,NC,-20.2333,164.0167,78.80,74,0,5.76,
14,noumea,NC,-22.2763,166.4572,76.26,94,0,1.03,
15,sur,OM,22.5667,59.5289,71.17,57,0,2.06,
16,nam som,TH,17.7704,102.1895,73.92,68,0,1.03,
17,quepos,CR,9.4236,-84.1652,70.12,64,0,4.63,
18,port blair,IN,11.6667,92.7500,77.88,66,0,3.98,
19,buraydah,SA,26.3260,43.9750,75.20,38,0,1.03,

In [39]:
#search for hotels
base = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [70]:
hotels = []
for index, row in hotel_df.iterrows():
    
    City = row["City"]
    Latitude = row["Latitude"]
    Longitude = row["Longitude"]
    
    base = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {"location": f"{Latitude},{Longitude}",
            "radius": 5000,
            "keyword" : "hotel",
            "key": gkey}
    
    response = requests.get(base, params=params).json()
    
    print(f"Retrieving Results for Index {index}: {City}")
    
    #print(json.dumps(response, indent=4, sort_keys=True))
    try:
        print(f"{City}'s Closest Hotel is: {response['results'][0]['name']}.")
        hotels.append(response['results'][0]['name'])
    except (KeyError, IndexError):
        print ('Not found')
        hotels.append('Not found')

Retrieving Results for Index 0: champerico
champerico's Closest Hotel is: Hotel Posada del Mar.
Retrieving Results for Index 1: riyadh
riyadh's Closest Hotel is: voco Riyadh.
Retrieving Results for Index 2: norsup
norsup's Closest Hotel is: Malekula Holiday Villas.
Retrieving Results for Index 3: neuquen
neuquen's Closest Hotel is: Hilton Garden Inn Neuquen.
Retrieving Results for Index 4: malanje
malanje's Closest Hotel is: Palanca Hotel.
Retrieving Results for Index 5: najran
Not found
Retrieving Results for Index 6: sao filipe
sao filipe's Closest Hotel is: Hotel Miramar Fogo Brava.
Retrieving Results for Index 7: ibra
ibra's Closest Hotel is: Golden Rays hotel.
Retrieving Results for Index 8: vao
vao's Closest Hotel is: OURE TERA beach resort.
Retrieving Results for Index 9: baghdad
baghdad's Closest Hotel is: BILITOM HOTEL.
Retrieving Results for Index 10: sindgi
sindgi's Closest Hotel is: Hotel Arpita Lodge.
Retrieving Results for Index 11: pyinmana
Not found
Retrieving Results for Index 12: general pico
general pico's Closest Hotel is: Hotel Apart Aires de la Pampa.
Retrieving Results for Index 13: poum
Not found
Retrieving Results for Index 14: noumea
noumea's Closest Hotel is: Le Meridien Noumea Resort & Spa.
Retrieving Results for Index 15: sur
sur's Closest Hotel is: Sur Plaza Hotel.
Retrieving Results for Index 16: nam som
nam som's Closest Hotel is: โรงแรมวุฒิโชค น้ำโสม ที่พักไกล้วัดป่าภูก้อน ราคา 500฿.
Retrieving Results for Index 17: quepos
quepos's Closest Hotel is: Hotel Makanda by The Sea.
Retrieving Results for Index 18: port blair
port blair's Closest Hotel is: The Luxor.
Retrieving Results for Index 19: buraydah
buraydah's Closest Hotel is: YARA SUITES.

In [71]:
hotel_df['Hotel Name'] = hotels
hotel_df

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Windspeed,Hotel Name
0,champerico,GT,14.3000,-91.9167,73.40,83,0,1.75,Hotel Posada del Mar
1,riyadh,SA,24.6877,46.7219,77.00,9,0,3.60,voco Riyadh
2,norsup,VU,-16.0667,167.3833,79.65,78,0,1.46,Malekula Holiday Villas
3,neuquen,AR,-38.9516,-68.0591,75.20,57,0,5.14,Hilton Garden Inn Neuquen
4,malanje,AO,-9.5402,16.3410,79.92,59,0,3.94,Palanca Hotel
5,najran,SA,17.4924,44.1277,78.80,25,0,5.14,Not found
6,sao filipe,CV,14.8961,-24.4956,74.30,63,0,3.41,Hotel Miramar Fogo Brava
7,ibra,OM,22.6906,58.5334,79.90,17,0,4.79,Golden Rays hotel
8,vao,NC,-22.6667,167.4833,76.14,83,0,4.20,OURE TERA beach resort
9,baghdad,IQ,33.3406,44.4009,71.60,49,0,4.63,BILITOM HOTEL
10,sindgi,IN,16.9167,76.2333,79.61,20,0,4.39,Hotel Arpita Lodge
11,pyinmana,MM,19.7333,96.2167,71.92,36,0,1.55,Not found
12,general pico,AR,-35.6566,-63.7568,78.08,44,0,4.24,Hotel Apart Aires de la Pampa
13,poum,NC,-20.2333,164.0167,78.80,74,0,5.76,Not found
14,noumea,NC,-22.2763,166.4572,76.26,94,0,1.03,Le Meridien Noumea Resort & Spa
15,sur,OM,22.5667,59.5289,71.17,57,0,2.06,Sur Plaza Hotel
16,nam som,TH,17.7704,102.1895,73.92,68,0,1.03,โรงแรมวุฒิโชค น้ำโสม ที่พักไกล้วัดป่าภูก้อน รา...
17,quepos,CR,9.4236,-84.1652,70.12,64,0,4.63,Hotel Makanda by The Sea
18,port blair,IN,11.6667,92.7500,77.88,66,0,3.98,The Luxor
19,buraydah,SA,26.3260,43.9750,75.20,38,0,1.03,YARA SUITES

In [72]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [76]:
# Add marker layer ontop of heat map
marker = gmaps.marker_layer(locations, info_box_content = hotel_info)

loc_map.add_layer(marker)
# Display figure
loc_map

Map(configuration={'api_key': 'AIzaSyBIOpfC7Bs0K6WKU7WeT-ByrMc5Svvz3xI'}, data_bounds=[(-45.733952329312686, -…